@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları</h1>
<div class="container">
	<div class="row">
		<a href="/Report/StaticReport/" class="btn btn-info mb-2 mt-2 me-1 col-md-3">Statik Rapor</a>
		<a href="/Report/MessageReport/" class="btn btn-primary mb-2 mt-2 me-1 col-md-3">Mesaj Raporları</a>
		<a href="/Report/AnnouncementReport/" class="btn btn-warning mb-2 mt-2 col-md-3">Duyuru Raporları</a>
	</div>
</div>

