<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="/Dashboard/">
				<i class="mdi mdi-home menu-icon"></i>
				<span class="menu-title">Dashboard</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Service/">
				<i class="mdi mdi-circle-outline menu-icon"></i>
				<span class="menu-title">Hizmetlerimiz</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Team/">
				<i class="mdi mdi-view-headline menu-icon"></i>
				<span class="menu-title">Takım Arkadaşlarımız</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Chart/">
				<i class="mdi mdi-chart-pie menu-icon"></i>
				<span class="menu-title">Grafikler</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Dashboard/">
				<i class="mdi mdi-grid-large menu-icon"></i>
				<span class="menu-title">İstatistikler</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Announcement/">
				<i class="mdi mdi-view-headline menu-icon"></i>
				<span class="menu-title">Duyurular</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Contact/">
				<i class="mdi mdi-message menu-icon"></i>
				<span class="menu-title">Gelen Mesajlar</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Address/">
				<i class="mdi mdi-map menu-icon"></i>
				<span class="menu-title">Adres Bilgileri</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Image/">
				<i class="mdi mdi-image menu-icon"></i>
				<span class="menu-title">Görseller</span>
			</a>
		</li>
			<li class="nav-item">
			<a class="nav-link" href="/Report/">
				<i class="mdi mdi-file-document menu-icon"></i>
				<span class="menu-title">Raporlar</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="../../pages/icons/mdi.html">
				<i class="mdi mdi-settings menu-icon"></i>
				<span class="menu-title">Ayarlar</span>
			</a>
		</li>
				<li class="nav-item">
			<a class="nav-link" href="/Admin/Index">
				<i class="mdi mdi-key menu-icon"></i>
				<span class="menu-title">Admin İşlemleri</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Login/Logout/">
				<i class="mdi mdi-exit-run menu-icon"></i>
				<span class="menu-title">Çıkış Yap</span>
			</a>
		</li>
	</ul>
</nav>