@{
	ViewData["Title"] = "Index";
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadPartial")
<body>
	<div class="header">
		<div class="container">
			@await Component.InvokeAsync("_TopAddress")
			@await Component.InvokeAsync("_SocialMedia")
			<div class="clearfix"> </div>
		</div>
	</div>

	@await Component.InvokeAsync("_Navbar")
	@await Component.InvokeAsync("_About")
	@await Component.InvokeAsync("_Service")
	@await Component.InvokeAsync("_Team")
	@await Component.InvokeAsync("_Announcement")
	@await Component.InvokeAsync("_Gallery")





	<div class="contact-agile" id="contact">
		<div class="container">
			@await Component.InvokeAsync("_Address")
			@*@await Component.InvokeAsync("_Contact")*@
			@await Html.PartialAsync("/Views/Default/SendMessage.cshtml")
		</div>
	</div>
	@await Component.InvokeAsync("_Map")

	<div class="bottom-social-w3ls w3ls-social-icons">
		<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
		<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
		<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
		<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
	</div>
	<div class="copy">
		<p>© @DateTime.Now.Year In Harvest . Tüm Hakları Saklıdır. | Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
	</div>
	@await Html.PartialAsync("/Views/Default/ScriptPartial.cshtml")
</body>
</html>

